{%extends '_layout.html'%}
{%load static%}
{%block content%}
<div class="services_section margin_top90">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="studies_taital">SERVICE OFFERINGS</h1>
            </div>
        </div>
    </div>
    <div class="services_section_2">
        <div class="container">

<div class="row">
    {%for i in services%}
    <div class="col-md-4">
        <div class="service_box">
            <div class="house_icon">
                <img src="{%static i.getImage%}" class="image_1">
            </div>
            <h3 class="corporate_text">{{i.Title}}</h3>
            <p class="chunks_text">{{i.Description}}</p>
            <div class="readmore_button"><a href="#">Read More</a></div>
        </div>
    </div>
    {%endfor%}
</div>

           
        </div>
    </div>
</div>
{%endblock%}